/* Overall site configs */

body {
    background: #F1F5F8;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #74787A;
    font-family: "Roboto";
}

a {
    color: #74787A;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.largerText {
    font-size: x-large;
}

/* Header contents: Includes name and Navigation bar*/

header {
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 15px 0px;
    border-bottom: #D1D6DA 2px solid
}
#me {
    float: left;
    margin: 0px 10px 10px 0px;
}
#head {
    width: 960px;
    margin: auto;
}

#name {
    width: 200px;
    padding: 15px;
    margin: 0px;
    display: inline;
    background-color: #3DDB93;
}

#navBar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    list-style-type: none;
    text-decoration: none;
}

li {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #D1D6DA;
    text-decoration: none;
  }

/* The "body" or meat of this landing page; picture and short bio */

#body {
    background-color: white;
    width: 960px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #D1D6DA;

}

#lineBreak {
    height: 1px;
    background-color: #74787A;
}


#organ {
    margin: 10px;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    color: white;
    background-color: #74787A;
    border-top: #3DDB93 5px solid;
    text-align: center;
}

#copyright {
    font-size: x-small;
    padding: 30px 0px 0px 0px;
}

/* Contacts Page: Body */

.row {
    width: 100%;
    margin-bottom: 10px;
}

.submit-button {

}

/* Portfolio Page: Body */

.portfolio-cell {
    overflow: auto;
    float: left;
    position: relative;
    margin: 10px;
}

.portfolio-image {
    float: left;
    height: 200px;
    width: 200px;
}

.portfolio-title {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3DDB93;
    padding-left: 100%;
    padding-right: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}